USE [master]
GO
/****** Object:  Database [AttrectoTestDb]    Script Date: 2022. 07. 19. 14:00:16 ******/
CREATE DATABASE [AttrectoTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AttrectoTestDb', FILENAME = N'C:\Users\Kristof\AttrectoTestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AttrectoTestDb_log', FILENAME = N'C:\Users\Kristof\AttrectoTestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AttrectoTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AttrectoTestDb]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2022. 07. 19. 14:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](16) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 2022. 07. 19. 14:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo](
	[ID_Todo] [int] IDENTITY(1,1) NOT NULL,
	[FK_User] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Todo] PRIMARY KEY CLUSTERED 
(
	[ID_Todo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2022. 07. 19. 14:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[FK_Role] [int] NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Name] [varchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID_Role], [Name]) VALUES (1, N'Basic')
INSERT [dbo].[Role] ([ID_Role], [Name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [FK_Role], [Email], [Password], [Name]) VALUES (1, 1, N'test@test.com', N'$2a$11$FJPsDhQFqR2GcCbAYM.6qe5Efzn6.DNOHyg5KFJxAV4gXBRtm28PW', N'test')
INSERT [dbo].[User] ([ID_User], [FK_Role], [Email], [Password], [Name]) VALUES (2, 2, N'admin@admin.com', N'$2a$11$n.zPzd8Sg4gG/g/0/UxaE.ToNjTbSVjhy5pkoQXBPXBP3bJ11sSry', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Todo]  WITH NOCHECK ADD  CONSTRAINT [FK_TODO_USER] FOREIGN KEY([FK_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Todo] CHECK CONSTRAINT [FK_TODO_USER]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([FK_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_USER_ROLE]
GO
USE [master]
GO
